.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d2d7df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  left: 0;
  box-shadow: 3px 3px 10px rgba(63, 48, 48, 0.1);
  transition: all 0.4s;
}


.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
  top: 20;
}

#menu.active{
  margin-left: -17rem;
  top: 20;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {

  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  } 

}  
body {
  background: #599fd9;
  background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
  background: linear-gradient(to right, #599fd9, #c2e59c);
  min-height: 100vh;
  overflow-x: hidden;
}


.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.brand {
  color: #FF9138;
}

.border-hover {
  border-top: 5px solid transparent;
  transform: translateY(-4px);
}

.border-hover:hover {
  border-top: 5px solid #ff9138;
  transform: translateY(-4px);
}

.border-hover.active {
  border-top: 5px solid #ff9138;
  transform: translateY(-4px);
  background-color: white;
  color: #FF9138;
}
#sign-in {
  background: #FF9138;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.navbar-toggler {
  border: 3px solid #FF9138;
}

.navbar-toggler-icon {
  background-image: url(../public/list.svg)
}

.navbar-toggler:focus {
  box-shadow: none;
}

#nav-length {
  width: 90%;
  position: fixed;
  color: white;
  display: flex;
  justify-content:space-around;
}
a.nav-link{
  color: white;
}
#socialWrap {
  border-radius: 24px 0px 0px 24px;
  height: fit-content;
  position: fixed;

}

@media screen and (max-width : 992px) {
 
  .border-hover {
      border-top: 0;
  }

  .border-hover:hover {
      border-top: 0;
  }

  #sign-in {
      border-radius: 50px;
  }
  #nav-length {
    width: 30%;
    height: 80%;
    position: fixed;
    background-color: white;
    right: 0;
    z-index: 1;
    transition: all 0.4s;
  }
  a.nav-link{
    color: #ff9138;
  }
}

/* body section */
.icon-height {
  height: 28px;
  width: 28px;
}

.icon-container {
  background: #FF9138;
}

.dark-background {
  background: #2b3944;
}

#menuItems{
  position: relative;
  z-index: 2;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;

  ul {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1.5rem;
    padding-left: 0;
    margin-block: 0;
    overflow-x: auto;
    list-style: none;
    text-align: center;
    white-space: nowrap;
  }
  
  a {
    display: block;
    color: #000;
    text-decoration: none;
  }
  
  .active {
    color: #f8f3ee;
    font-weight: 600;
    background-color: #FF9138;
  }
  li:hover{
    background-color: white;
    text-decoration: none;
    border-top: 3px solid #FF9138;
    transition:linear 0.3s;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}